doctype 5
html
  head
    title Heroku-Hero
    //- link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
                
    //- main content
    block content
    
    //- footer
    footer.row
      .col-sm-12
        .row
          .col-sm-6
            p Heroku-Hero 2013
          .col-sm-6
