doctype 5
html
  head
    title Heroku-Hero
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
                
    //- main content
    block content
    
    //- footer
    footer.row
      .large-12.columns
        hr
        .row
          .large-6.columns
            p Heroku-Hero 2013
          .large-6.columns
